<form [formGroup]="form">
  <div>    
    <div class="modal fade" id="modalEdicionHabilidad" tabindex="-1" role="dialog" aria-labelledby="modalEdicionHabilidad" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Editar Habilidad</h5>
            <button type="button" class="btn-editar" data-dismiss="modal" aria-label="Close">
              <img src="./assets/Icons/x.svg" alt="Bootstrap" width="30" height="30" style="margin-top: -10px;">
            </button>
          </div>
          <div class="modal-body">
            <div class="row row-cols-2">
              <div class="col text-center"><label for="">Habilidad</label></div>
              <div class="col text-center"><label for="">Porcentaje</label></div>
            </div>
             <div class="row row-cols-2" >
              <div><input formControlName="name" type="text" class="txtModal" ngModel="{{edicionHabilidad.name}}">
                <div class="error" *ngIf="form.get('name')?.invalid&&(form.get('name')?.touched || form.get('name')?.dirty)">
                  <span *ngIf="form.get('name')?.hasError('required')" class="text-danger">*Este campo es requerido</span>
                </div>
              </div>
              <!-- <input *ngIf="true" formControlName="id" type="number" ngModel="{{indice}}"> -->
              <div class="col"><mat-slider formControlName="porcentaje" min="0" max="100" step="10" [(value)]="value" thumbLabel></mat-slider>{{value}}</div> 
              <!-- <mat-slider min="1" max="100" step="1" [value]="habilidadEdicion.porcentaje" (change)="habilidadEdicion.porcentaje = $event.value"></mat-slider>{{habilidadEdicion.porcentaje}} --> 
            </div> 
          <div class="modal-footer" style="margin-top: 15px; margin-bottom: -10px;">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button (click)="editarHabilidad()" [disabled]="form.get('name')?.invalid" type="button" class="btn btn-primary" data-dismiss="modal">Editar</button>
          </div>
        </div>
        </div>
      </div>
    </div> 
  </div>
</form>

<form [formGroup]="form2">
  <div>    
    <div class="modal fade" id="modalAgregarHabilidad" tabindex="-1" role="dialog" aria-labelledby="modalAgregarHabilidad" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Agregar Habilidad</h5>
            <button type="button" class="btn-editar" data-dismiss="modal" aria-label="Close">
              <img src="./assets/Icons/x.svg" alt="Bootstrap" width="30" height="30" style="margin-top: -10px;">
            </button>
          </div>
          <div class="modal-body">
            <div class="row row-cols-2">
              <div class="col text-center"><label for="">Habilidad</label></div>
              <div class="col text-center"><label for="">Porcentaje</label></div>
            </div>
             <div class="row row-cols-2" >
              <div><input formControlName="name" type="text" id="txtInstitucion" class="txtModal" placeholder="Habilidad">
                <div class="error" *ngIf="form2.get('name')?.invalid&&(form2.get('name')?.touched || form2.get('name')?.dirty)">
                  <span *ngIf="form2.get('name')?.hasError('required')" class="text-danger">*Este campo es requerido</span>
                </div>
              </div>
              <!-- <input *ngIf="true" formControlName="id" type="number" ngModel="{{indice}}"> -->
              <div class="col"><mat-slider formControlName="porcentaje" min="0" max="100" step="10" [(value)]="value" thumbLabel></mat-slider>{{value}}</div> 
              <!-- <mat-slider min="1" max="100" step="1" [value]="habilidadEdicion.porcentaje" (change)="habilidadEdicion.porcentaje = $event.value"></mat-slider>{{habilidadEdicion.porcentaje}} --> 
            </div> 
          <div class="modal-footer" style="margin-top: 15px; margin-bottom: -10px;">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button (click)="agregarHabilidad()" [disabled]="form2.get('name')?.invalid" type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
          </div>
        </div>
        </div>
      </div>
    </div> 
  </div>
</form>

<div class="card" style="width: 100%;">
    <div class="d-flex justify-content-between">
      <h4 class="titulo">Habilidades</h4>
      <!-- <button (click)="irEditarEducacion(indice,educacion.id)" type="button" style="margin-right:20px; margin-top:10px;" data-toggle="modal" data-target="#modalEdicion" class="btn-editar hide"><img src="./assets/Icons/pencil.svg" alt="Bootstrap" width="20" height="15"></button> -->
      <button *ngIf="data$|async" type="button" style="margin-right:20px; margin-top:10px;" data-toggle="modal" data-target="#modalAgregarHabilidad" class="btn-editar hide"><img src="./assets/Icons/plus.svg" alt="Bootstrap" width="25" height="25" style="margin-top: -10px;"></button>
    </div>   
    <div class="card-body">
      <div class="row row-cols-2" *ngFor="let habilidad of miPorfolioHabilidades; let indice=index">
        <div class="col-11"><div class="progress"  style="margin-bottom: 20px;">
          <div class="progress-bar progress-bar-info" role="progressbar"
          aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--value:{{habilidad.porcentaje}}%">{{habilidad.name}} ({{habilidad.porcentaje}}%)</div>
        </div>
      </div>
      <div *ngIf="data$|async" class="col-1 d-flex"><button (click)="irEditarHabilidad(indice,habilidad.id)"  type="button" style="margin-right:20px; margin-top:10px;" data-toggle="modal" data-target="#modalEdicionHabilidad" class="btn-editar hide">
          <img src="./assets/Icons/pencil.svg" alt="Bootstrap" width="20" height="15" style="margin-top: -30px;"></button>
          <button (click)="borrarHabilidad(habilidad.id)" class="btn-editar hide" style="margin-left: -20px;"><img src="./assets/Icons/trash3-fill.svg" alt="Bootstrap" width="20" height="15" style="margin-top: -20px;"></button>
      </div>       
    </div>
    </div>
</div>    
